<html>
	<head>
		<title> {{report_title}} </title>
		<meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<style>
	
	.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
</style>
	
	<body>
		<nav class="navbar navbar-dark bg-custom-2">
  <a class="navbar-brand" href="#a">RazorPy</a>
</nav>

<div class="card">
  <div class="card-header">
    Working on the API Testing
  </div>
  <div class="card-body">
    <h5 class="card-title">Status: <span class="badge badge-success">Success</span></h5>
    <p class="card-text font-weight-light"><b>Time taken to complete this task:</b> <mark>10.0000s</mark></p>
    <p class="card-text font-weight-light"><b>Output returned by this task:</b> <mark>{"status":"success"}</mark></p>
  </div>
</div>



	</body>
</html>